{% extends "layout.html" %}

{% block title %}End{% endblock %}

{% block content %}
<h1>Answers</h1>

<ul>
    <li>Congrats you {{ YN }}!</li>
    <li>This how many you got {{ total }}/5</li>
    <li> Q1: {{ session['position1'] }}. The answer was 1(Corner back).
    <li> Q2: {{ session['position2'] }}. The answer was 1(Kick Returner).
    <li> Q3: {{ session['position3'] }}. The answer was 2(Middle Linebacker).
    <li> Q4: {{ session['position4'] }}. The answer was 3(Free Saftey).
    <li> Q5: {{ session['position5'] }}. The awswer was 4(Wide Reciver).
</ul>
 
{% endblock %}