{% extends "layout.html" %}

{% block title %}Page 4: Troy Polamalu{% endblock %}

{% block content %}
  <h1>Page 4: What position does Troy Polamalu play?</h1>

 <form action={{ url_for("renderPage3") }} method="POST">
  Position:<br>
 <input type="radio" name="position2" id="KR" value="1">
  <label for "KR">Outside Linebacker(OLB)
  <br>
  <input type="radio" name="position2" id="WR" value="2">
  <label for "WR">Strong Saftey(SS)
  <br>
  <input type="radio" name="position2" id="S" value="3">
  <label for "S">Free Saftey(FS)
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 


{% endblock %}