{% extends "layout.html" %}

{% block title %}Page 1: Jalen Ramsey{% endblock %}

{% block content %}
<div class="countdown"></div>
  <h1>Page 1: What position does Jalen Ramsey play?</h1>

 <form action={{ url_for("renderPage2") }} method="POST">
  Position:<br>
  <input type="radio" name="position1" id="CB" value="1">
  <label for "CB"> 1. Corner back(CB)
  <br>
  <input type="radio" name="position1" id="WR" value="2">
  <label for "WR"> 2. Wide Reciver(WR)
  <br>
  <input type="radio" name="position1" id="MLB" value="3">
  <label for "MLB">3. Middle Linebacker(MLB)
  <br>
  <input type="radio" name="position1" id="SS" value="4">
  <label for "MLB">4. Strong Saftey(SS)
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 
<br>
<img src="/static/Jalen-R.jpeg" alt="Jalen Ramsey">

{% endblock %}
