{% extends "layout.html" %}

{% block title %}Page 4: Troy Polamalu{% endblock %}

{% block content %}
  <h1>Page 4: What position does Troy Polamalu play?</h1>

 <form action={{ url_for("renderPageEnd") }} method="POST">
  Position:<br>
 <input type="radio" name="position4" id="KR" value="1">
  <label for "KR"> 1. Outside Linebacker(OLB)
  <br>
  <input type="radio" name="position4" id="WR" value="2">
  <label for "WR"> 2. Strong Saftey(SS)
  <br>
  <input type="radio" name="position4" id="S" value="3">
  <label for "S"> 3. Free Saftey(FS)
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 
<br>
<img src="/static/Troy-P.jpeg" alt="Troy Polamalu">

{% endblock %}