{% extends "layout.html" %}

{% block title %}Page 3: Ray Lewis{% endblock %}

{% block content %}
<div class="countdown"></div>
  <h1>Page 3: What position does Ray Lewis play?</h1>

 <form action={{ url_for("renderPage4") }} method="POST">
  Position:<br>
  <input type="radio" name="position3" id="OLB" value="1">
  <label for "OLB"> 1. Outside Linebacker(OLB)
  <br>
  <input type="radio" name="position3" id="MLB" value="2">
  <label for "MLB"> 2. Middle Linebacker(MLB)
  <br>
  <input type="radio" name="position3" id="FB" value="3">
  <label for "FB"> 3. Fullback(FB)
  <br>
  <input type="radio" name="position3" id="RG" value="4">
  <label for "RG">4. Right Guard(RG)
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 
<br>
<img src="/static/Ray-L.jpeg" alt="Ray Lewis">

{% endblock %}