{% extends "layout.html" %}

{% block title %}Page 2: Devin Hester{% endblock %}

{% block content %}
<div class="countdown"></div>
  <h1>Page 2: What position does Devin Hester play?</h1>

 <form action={{ url_for("renderPage3") }} method="POST">
  Position:<br>
 <input type="radio" name="position2" id="KR" value="1">
  <label for "KR"> 1. Kick Returner(KR)
  <br>
  <input type="radio" name="position2" id="WR" value="2">
  <label for "WR"> 2. Wide Reciver(WR)
  <br>
  <input type="radio" name="position2" id="S" value="3">
  <label for "S"> 3. Saftey(S)
  <br>
  <input type="radio" name="position2" id="SS" value="4">
  <label for "SS">4. Strong Saftey(SS)
  <br>
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 
<br>
<img src="/static/Devin-H.jpeg" alt="Devin Hester">

{% endblock %}