{% extends "layout.html" %}

{% block title %}Page 1: Jalen Ramsey{% endblock %}

{% block content %}
  <h1>Page 1: What position does Jalen Ramsey play?</h1>

 <form action={{ url_for("renderPage2") }} method="POST">
  Position:<br>
  <input type="radio" name="position1" id="CB" value="1">
  <label for "CB">Corner back(CB)
  <br>
  <input type="radio" name="position1" id="WR" value="2">
  <label for "WR">Wide Reciver(WR)
  <br>
  <input type="radio" name="position1" id="MLB" value="3">
  <label for "MLB">Middle Linebacker(MLB)
  <br>
  <br>
  <input type="submit" value="Submit">
 </form> 


{% endblock %}
